In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master('local[*]').appName('test').getOrCreate()

your 131072x1 screen size is bogus. expect trouble
24/03/05 17:15:25 WARN Utils: Your hostname, dashel resolves to a loopback address: 127.0.1.1; using 172.31.179.36 instead (on interface eth0)
24/03/05 17:15:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/05 17:15:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df_green = spark.read.parquet('data/green-taxi-data/parquet/*')

In [4]:
df_green.show()

+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|    pickup_datetime|   dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2|2020-01-23 17:50:43|2020-01-23 18:10:24|                 N|         1|          82|         258|              1|         3.85|       16.0|  1.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        17.8|           2|        1|                 0.0|
|       2|2020-01-29 12:21:06|2020-01-29 12:25:14|                 N|         1|          95|          95|              1|         0.61|        5.0|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         5.8|           2|        1|                 0.0|
|       2|2020-01-07 08:08:24|2020-01-07 08:19:15|                 N|         1|          18|         241|              1|         2.15|       10.0|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|           2|        1|                 0.0|
|       2|2020-01-11 12:47:33|2020-01-11 13:13:01|                 N|         5|         166|         265|              1|        14.69|       30.0|  0.0|    0.0|       4.0|         0.0|     NULL|                  0.3|        34.3|           1|        2|                 0.0|
|       2|2020-01-28 18:54:45|2020-01-28 19:00:47|                 N|         1|         179|         179|              5|         0.84|        5.5|  1.0|    0.5|      1.46|         0.0|     NULL|                  0.3|        8.76|           1|        1|                 0.0|
|       2|2020-01-03 13:22:44|2020-01-03 13:31:03|                 N|         1|          41|          75|              2|         1.15|        7.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|           2|        1|                 0.0|
|       2|2020-01-08 14:12:51|2020-01-08 14:32:49|                 N|         1|          95|         198|              1|         4.51|       17.0|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        17.8|           2|        1|                 0.0|
|    NULL|2020-01-22 08:07:00|2020-01-22 08:36:00|              NULL|      NULL|          10|         171|           NULL|         9.57|      30.54| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.3|       34.09|        NULL|     NULL|                NULL|
|    NULL|2020-01-31 13:31:00|2020-01-31 13:44:00|              NULL|      NULL|         164|         107|           NULL|         1.57|      16.62| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|       19.67|        NULL|     NULL|                NULL|
|       1|2020-01-31 19:39:55|2020-01-31 19:49:06|                 N|         1|         210|         123|              1|          1.6|        7.5|  0.0|    0.5|       1.7|         0.0|     NULL|                  0.3|        10.0|           1|        1|                 0.0|
|       1|2020-01-21 21:33:51|2020-01-21 21:42:01|                 N|         5|         244|         116|              1|          1.0|        7.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.0|         7.0|           4|        2|                 0.0|
|       2|2020-01-09 18:48:39|2020-01-09 18:55:31|                 N|         1|          66|          33|              2|         1.21|        6.5|  1.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|           1|        1|                 0.0|
|       2|2020-01-02 20:21:17|2020-01-02 20:26:21|                 N|         1|           7|         179|              1|         0.54|        5.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         6.3|           2|        1|                 0.0|
|       1|2020-01-10 02:52:54|2020-01-10 03:03:06|                 N|         1|           7|          82|              1|          2.3|       10.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|        11.3|           2|        1|                 0.0|
|    NULL|2020-01-27 13:56:00|2020-01-27 14:12:00|              NULL|      NULL|         174|          51|           NULL|         2.87|      21.95| 2.75|    0.5|       0.0|         0.0|     NULL|                  0.3|        25.5|        NULL|     NULL|                NULL|
|       2|2020-01-29 23:01:37|2020-01-29 23:09:59|                 N|         1|         130|         135|              1|         1.77|        8.0|  0.5|    0.5|       1.4|         0.0|     NULL|                  0.3|        10.7|           1|        1|                 0.0|
|       2|2020-01-23 17:36:56|2020-01-23 17:48:55|                 N|         1|          97|         106|              1|         1.38|        9.0|  1.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.8|           2|        1|                 0.0|
|       1|2020-01-31 01:26:07|2020-01-31 01:32:27|                 N|         1|         129|          82|              1|          1.1|        6.5|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.8|           2|        1|                 0.0|
|    NULL|2020-01-17 16:54:00|2020-01-17 17:41:00|              NULL|      NULL|          92|         225|           NULL|         11.9|       45.2| 2.75|    0.0|       0.0|         0.0|     NULL|                  0.3|       48.25|        NULL|     NULL|                NULL|
|    NULL|2020-01-01 18:02:00|2020-01-01 18:39:00|              NULL|      NULL|          38|           7|           NULL|        14.82|      35.97|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|       36.27|        NULL|     NULL|                NULL|
+--------+-------------------+-------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [5]:
df_green.registerTempTable('green')

/home/dashelruiz/anaconda3/envs/de_env/lib/python3.12/site-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [6]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', pickup_datetime) AS hour,
    PULocationID AS zone,    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
GROUP BY
    1, 2
ORDER BY 
    1, 2
"""
)

In [7]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2008-12-31 22:00:00| 193|               0.0|             1|
|2008-12-31 23:00:00| 166|              11.3|             1|
|2008-12-31 23:00:00| 193|               0.0|             2|
|2008-12-31 23:00:00| 264|               0.0|             1|
|2009-01-01 00:00:00|   7|               9.8|             1|
|2009-01-01 00:00:00|  41|15.850000000000001|             2|
|2009-01-01 00:00:00|  42|               8.3|             1|
|2009-01-01 00:00:00|  74|               9.8|             1|
|2009-01-01 00:00:00|  75| 98.39999999999999|             2|
|2009-01-01 00:00:00| 116|               7.3|             1|
|2009-01-01 00:00:00| 130|              11.8|             1|
|2009-01-01 00:00:00| 193|             12.35|             8|
|2009-01-01 00:00:00| 264|               0.0|             1|
|2009-01-01 01:00:00|  41|               0.0|             2|
|2009-01-01 01:00:00|  49|              11.8|             1|
|2009-01-01 01:00:00|  75|               6.3|             1|
|2009-01-01 01:00:00| 130|              24.8|             1|
|2009-01-01 01:00:00| 152|              15.3|             1|
|2009-01-01 01:00:00| 193|               0.0|             2|
|2009-01-01 01:00:00| 244|               8.8|             1|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [16]:
df_green_revenue.repartition(20).write.parquet('data/report/revenue/green', mode='overwrite')

24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/05 17:36:25 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [8]:
df_yellow = spark.read.parquet('data/yellow-taxi-data/parquet/*')

In [9]:
df_yellow.registerTempTable('yellow')

In [10]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', pickup_datetime) AS hour,
    PULocationID AS zone,    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
GROUP BY
    1, 2
ORDER BY 
    1, 2
"""
)

In [11]:
df_yellow_revenue.show()

24/03/05 17:16:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:16:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:16:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:16:06 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+-------------------+----+------+--------------+
|               hour|zone|amount|number_records|
+-------------------+----+------+--------------+
|2002-12-31 23:00:00| 193|   0.0|             1|
|2002-12-31 23:00:00| 264|   0.0|             1|
|2003-01-01 00:00:00| 193|   0.0|             1|
|2003-01-05 07:00:00| 264|   0.0|             1|
|2003-03-26 21:00:00| 193|  3.31|             1|
|2004-04-04 04:00:00| 162|  12.3|             1|
|2008-12-31 22:00:00| 113|  10.8|             1|
|2008-12-31 22:00:00| 164|  27.3|             1|
|2008-12-31 22:00:00| 238|  26.3|             1|
|2008-12-31 23:00:00|  25|  16.8|             1|
|2008-12-31 23:00:00|  43|  53.5|             2|
|2008-12-31 23:00:00|  75|  11.3|             1|
|2008-12-31 23:00:00|  79|  23.8|             1|
|2008-12-31 23:00:00|  85|   5.3|             1|
|2008-12-31 23:00:00|  90|   9.8|             1|
|2008-12-31 23:00:00| 132|302.12|             7|
|2008-12-31 23:00:00| 141|  23.6|             2|
|2008-12-31 23:00:00| 142| 24.46|             2|
|2008-12-31 23:00:00| 143| 55.36|             3|
|2008-12-31 23:00:00| 144|  75.6|             2|
+-------------------+----+------+--------------+
only showing top 20 rows

In [17]:
df_yellow_revenue.repartition(20).write.parquet('data/report/revenue/yellow', mode='overwrite')

24/03/05 17:36:42 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:36:42 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:36:42 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:36:42 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
24/03/05 17:36:45 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [12]:
df_green_revenue_tem = df_green_revenue \
        .withColumnRenamed('amount', 'green_amount') \
        .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tem = df_yellow_revenue \
        .withColumnRenamed('amount', 'yellow_amount') \
        .withColumnRenamed('number_records', 'yellow_number_records')

In [13]:
df_join = df_green_revenue_tem.join(df_yellow_revenue_tem, on=['hour', 'zone'], how='outer')

In [ ]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [15]:
df_join.show()

24/03/05 17:32:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:47 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
24/03/05 17:32:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2003-01-05 07:00:00| 264|              NULL|                NULL|               0.0|                    1|
|2008-12-31 23:00:00| 162|              NULL|                NULL|              26.6|                    2|
|2008-12-31 23:00:00| 237|              NULL|                NULL|              35.2|                    4|
|2009-01-01 00:00:00|  24|              NULL|                NULL|              11.0|                    1|
|2009-01-01 00:00:00|  41|15.850000000000001|                   2|              11.8|                    1|
|2009-01-01 00:00:00|  79|              NULL|                NULL|35.760000000000005|                    3|
|2009-01-01 00:00:00| 229|              NULL|                NULL|               0.0|                    2|
|2009-01-01 02:00:00| 114|              NULL|                NULL|              10.3|                    1|
|2009-01-01 02:00:00| 161|              NULL|                NULL|              12.3|                    1|
|2009-01-01 02:00:00| 164|              NULL|                NULL|              15.8|                    1|
|2009-01-01 03:00:00|  10|              NULL|                NULL|             61.85|                    1|
|2009-01-01 04:00:00| 142|              NULL|                NULL|             12.36|                    1|
|2009-01-01 04:00:00| 237|              NULL|                NULL|              10.8|                    1|
|2009-01-01 11:00:00| 140|              NULL|                NULL|               6.8|                    1|
|2009-01-01 19:00:00|  79|              NULL|                NULL|               7.8|                    1|
|2009-01-01 19:00:00| 186|              NULL|                NULL|              14.3|                    1|
|2019-12-31 15:00:00| 164|              NULL|                NULL|              50.8|                    1|
|2019-12-31 19:00:00| 107|              NULL|                NULL|              18.8|                    1|
|2019-12-31 23:00:00| 233|              NULL|                NULL|              9.36|                    1|
|2019-12-31 23:00:00| 248|              11.3|                   1|              NULL|                 NULL|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_join = spark.read.parquet('data/report/revenue/total')

In [20]:
df_zones = spark.read.parquet('zones')

In [21]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [22]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [23]:
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2008-12-31 23:00:00| 193|               0.0|                   2|               3.3|                    7|       193|   Queens|Queensbridge/Rave...|   Boro Zone|
|2008-12-31 23:00:00| 231|              NULL|                NULL|             32.76|                    1|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|2008-12-31 23:00:00| 233|              NULL|                NULL|               8.3|                    1|       233|Manhattan| UN/Turtle Bay South| Yellow Zone|
|2008-12-31 23:00:00| 239|              NULL|                NULL|              11.3|                    1|       239|Manhattan|Upper West Side S...| Yellow Zone|
|2008-12-31 23:00:00| 264|               0.0|                   1|              NULL|                 NULL|       264|  Unknown|                  NV|         N/A|
|2009-01-01 00:00:00| 145|              NULL|                NULL|              12.8|                    1|       145|   Queens|Long Island City/...|   Boro Zone|
|2009-01-01 00:00:00| 166|              NULL|                NULL|               5.8|                    1|       166|Manhattan| Morningside Heights|   Boro Zone|
|2009-01-01 01:00:00| 162|              NULL|                NULL|17.560000000000002|                    2|       162|Manhattan|        Midtown East| Yellow Zone|
|2009-01-01 02:00:00| 239|              NULL|                NULL|              16.8|                    1|       239|Manhattan|Upper West Side S...| Yellow Zone|
|2009-01-01 18:00:00| 193|              NULL|                NULL|               3.3|                    2|       193|   Queens|Queensbridge/Rave...|   Boro Zone|
|2019-12-31 19:00:00| 263|              NULL|                NULL|              23.3|                    1|       263|Manhattan|      Yorkville West| Yellow Zone|
|2019-12-31 20:00:00| 249|              NULL|                NULL|             15.36|                    1|       249|Manhattan|        West Village| Yellow Zone|
|2019-12-31 23:00:00| 116|              6.81|                   1|              12.8|                    1|       116|Manhattan|    Hamilton Heights|   Boro Zone|
|2020-01-01 00:00:00|  51|              17.8|                   2|              31.0|                    1|        51|    Bronx|          Co-Op City|   Boro Zone|
|2020-01-01 00:00:00|  85| 64.75999999999999|                   4|            102.56|                    3|        85| Brooklyn|             Erasmus|   Boro Zone|
|2020-01-01 00:00:00| 130|133.35000000000002|                   7|              NULL|                 NULL|       130|   Queens|             Jamaica|   Boro Zone|
|2020-01-01 00:00:00| 191|             84.21|                   2|              57.3|                    1|       191|   Queens|      Queens Village|   Boro Zone|
|2020-01-01 00:00:00| 197|             72.01|                   3|              NULL|                 NULL|       197|   Queens|       Richmond Hill|   Boro Zone|
|2020-01-01 00:00:00| 254| 73.82000000000001|                   3|146.04000000000002|                    4|       254|    Bronx|Williamsbridge/Ol...|   Boro Zone|
|2020-01-01 01:00:00|  16| 72.96000000000001|                   2|              43.0|                    1|        16|   Queens|             Bayside|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [ ]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')